:root {
  --black: #000;
  --dark-grey: #333;
  --light-black: #121212;
  --light-grey: #666;
  --lighter-grey: #888;
  --white: #fff;

  --border-color: #e2e2e2;
  --footer-border-color: #ebebeb;
}

/** 
* Globals
*/
* {
  margin: 0;
}

/** 
* Helpers
*/
.text-center {
  text-align: center;
}

.text--md {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5625rem;
}

.title--lg {
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.container-lg {
  max-width: 100%;
}
.img-fluid {
  height: auto;
  max-width: 100%;
}

/** 
* Header
*/
.header {
  display: flex;
  padding: 18px;
  border-bottom: 1px solid var(--border-color);
}
.header__button {
  align-items: normal;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 10px;
  justify-content: space-between;
  width: 16px;
}
.header__button-bar {
  background-color: var(--dark-grey);
  height: 2px;
  position: relative;
  transform-origin: 50% 50%;
  width: 100%;
}
.header__button-bar:nth-child(2) {
  position: relative;
}
.header__button-bar:nth-child(2):after {
  background-color: var(--dark-grey);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/** 
* Intro
*/
.intro {
}
.intro__title {
  color: var(--light-black);
  font-style: italic;
  margin: 0 20px 1rem;
  text-align: center;
}
.intro__description {
  color: var(--light-grey);
  margin: 10px 20px 32px;
}
.intro__credit {
  color: var(--lighter-grey);
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 18px;
}
.intro__author {
  color: var(--dark-grey);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.028px;
  line-height: 18px;
  margin: 0 20px 15px;
  text-transform: capitalize;
}
.intro__author a {
  color: var(--dark-grey);
  display: inline-block;
}
.intro__links {
  color: var(--dark-grey);
  display: flex;
  margin: 0 20px 1.5625rem;
}

/** 
* Unlock articles
*/
.unlock-articles {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  padding: 18px 0;
  position: relative;
  text-align: center;
}
.unlock-articles:before, 
.unlock-articles:after {
  border-bottom: 1px solid rgb(204, 204, 204);
  content: "";
  display: block;
  margin: 0 auto 18px;
  width: 72px;
}
.unlock-articles:after {
  padding: 9px 0;
}

/** 
* article
*/
.article {
  margin-left: 20px;
  margin-right: 20px;
}
.article__paragraph {
  margin-bottom: 0.78125rem;
}

/** 
* footer
*/
.footer {
  border-top: 4px solid var(--border-color);
  padding: 0 20px;
}
.footer__accordion,
.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__accordion li {
  border-top: 1px solid var(--footer-border-color);
}
.footer__accordion li:last-of-type {
  border-bottom: 1px solid var(--footer-border-color);
}
.footer__accordion-title {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.04rem;
  line-height: 44px;
  text-transform: uppercase;
}
.footer__accordion-title:hover {
  cursor: pointer;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__list li {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  padding: 5px;
}
.footer__list a {
  color: var(--light-grey);
  display: inline-block;
  text-decoration: none;
}
.footer__list a:hover {
  text-decoration: underline;
}
.footer__copyright {
  color: var(--light-grey);
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
.footer__copyright:hover {
  text-decoration: underline;
}
