:root {
  --black: #000;
  --dark-grey: #333;
  --light-black: #121212;
  --light-grey: #666;
  --lighter-grey: #888;
  --white: #fff;

  --border-color: #e2e2e2;
  --footer-border-color: #ebebeb;
}

/** 
* Globals
*/
* {
  margin: 0;
}

h1 {
  font-size: 1.9375rem;
  line-height: 2.25rem;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5625rem;
}
@media (min-width: 739px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

/** 
* Helpers
*/
.text-center {
  text-align: center;
}

.text--md {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5625rem;
}

.title--lg {
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.container-lg {
  max-width: 100%;
}
.img-fluid {
  height: auto;
  max-width: 100%;
}

/** 
* Header
*/
.header {
  /* max-width: 1605px;; */
  display: flex;
  justify-content: center;
  padding: 18px;
  border-bottom: 1px solid var(--border-color);
}
.header__content {
  max-width: 1605px;
  width: 100%;
}
.header__button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 10px;
  justify-content: space-between;
  width: 16px;
}
.header__button-bar {
  background-color: var(--dark-grey);
  height: 2px;
  position: relative;
  transform-origin: 50% 50%;
  width: 100%;
}
.header__button-bar:nth-child(2) {
  position: relative;
}
.header__button-bar:nth-child(2):after {
  background-color: var(--dark-grey);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/** 
* main 
*/
.main {
  margin-top: 1.5625rem;
}
@media (min-width: 739px) {
  .main {
    margin-top: 3.75rem;
  }
}

/** 
* Intro
*/
.intro {
}
.intro__img {
  width: 100%;
}
.intro__img-container {
  margin: 0 auto;
  max-width: 945px;
}
.intro__title {
  color: var(--light-black);
  font-style: italic;
  margin: 0 1.25rem 1rem;
}
@media (min-width: 739px) {
  .intro__title {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
.intro__description {
  color: var(--light-grey);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.125rem;
  margin: 0.625rem 1.25rem 2rem;
}
.intro__credit {
  color: var(--lighter-grey);
  font-size: 0.75rem;
  letter-spacing: 0.0075rem;
  line-height: 1.125rem;
}
.intro__author {
  color: var(--dark-grey);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.0018rem;
  line-height: 18px;
  margin: 0 1.25rem 0.9375rem;
  text-transform: capitalize;
}
.intro__author a {
  color: var(--dark-grey);
  display: inline-block;
}
.intro__links {
  color: var(--dark-grey);
  display: flex;
  margin: 0 20px 1.5625rem;
}
@media (min-width: 1024px) {
  .intro__description {
    margin-left: 0;
    max-width: 720px;
  }
}
@media (min-width: 1440px) {
  .intro__img-container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

/** 
* Unlock articles
*/
.unlock-articles {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  padding: 18px 0;
  position: relative;
  text-align: center;
}
.unlock-articles:before,
.unlock-articles:after {
  border-bottom: 1px solid rgb(204, 204, 204);
  content: "";
  display: block;
  margin: 0 auto 18px;
  width: 72px;
}
.unlock-articles:after {
  padding: 9px 0;
}

/** 
* article
*/
.article {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  max-width: 600px;
}
@media (min-width: 768px) {
  .article {
    margin: 0 auto;
  }
}
.article__paragraph {
  margin-bottom: 0.78125rem;
}
.article__btn-container {
  align-items: end;
  background: rgba(0, 0, 0, 0)
    linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)) repeat scroll 0%
    0%;
  display: flex;
  height: 155px;
  margin-top: -10.3125rem;
  position: relative;
  width: 100%;
}
.article__button {
  background: rgb(237, 242, 245) none repeat scroll 0% 0%;
  border-radius: 3px;
  border: 1px solid rgb(147, 171, 188);
  cursor: pointer;
  display: block;
  font-size: 0.9375rem;
  font-weight: bold;
  height: 40px;
  margin: 0.625rem auto;
  text-transform: uppercase;
  width: 250px;
}
.article__btn-container.active {
  display: none;
}
.article__hidden-content {
  display: none;
}
.article__hidden-content.active {
  display: block;
}
@media (min-width: 732px) {
  .article__btn-container {
    display: none;
  }
  .article__hidden-content {
    display: block;
  }
}

/** 
* footer
*/
.footer {
  border-top: 4px solid var(--border-color);
  padding: 0 1.25rem;
}
.footer__accordion,
.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__accordion li {
  border-top: 1px solid var(--footer-border-color);
}
.footer__accordion li:last-of-type {
  border-bottom: 1px solid var(--footer-border-color);
}
.footer__accordion-title {
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
  line-height: 2.75rem;
  text-transform: uppercase;
}
.footer__accordion-title:hover {
  cursor: pointer;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__list li {
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.3125rem;
}
.footer__list a {
  color: var(--light-grey);
  display: inline-block;
  text-decoration: none;
}
.footer__list a:hover {
  text-decoration: underline;
}
.footer__copyright {
  color: var(--light-grey);
  display: block;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.6875rem;
  padding: 0.625rem 0;
  text-align: center;
  text-decoration: none;
}
.footer__copyright:hover {
  text-decoration: underline;
}
